/* globals.css 

@tailwind base; /* Injects Tailwind's opinionated base styles and resets (Preflight) 
@tailwind components; /* Injects component classes (like containers) */
/*@tailwind utilities; /* Injects the thousands of utility classes (like text-xl, flex, p-4) */

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* add this class to any element you want to be scrollable but invisible */
.hide-scrollbar {
  /* 1. Internet Explorer 10+ */
  -ms-overflow-style: none;

  /* 2. Firefox */
  scrollbar-width: none;
}

/* 3. Chrome, Safari, Edge, Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-food-detail-input {
  border: 2px solid #1a6e00 !important;
}
